body {
  background-color: darkseagreen;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: antiquewhite;
  font-size: 25px;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

img {
  border-radius: 50%;
}

ul  {
  text-decoration: none;
  list-style: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

i   {
  padding: 7px;
}